@charset "UTF-8";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.chatBot {
	padding: 1 1 auto;
}

.footer {
  flex-shrink: 0;
}

.nm-flex {
	flex-grow: 1,
}
